<div class="animated fadeIn">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']"><i class="fa fa-home"></i>Inicio</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/clientes']"><i class="fa fa-group"></i>&nbsp;Clientes</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/cliente', id_cliente]"><i class="fa fa-user"></i>&nbsp;{{cliente.nombre}}</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/mascota', id]"><i class="fa fa-paw"></i>&nbsp;{{mascota.nombre}}</a></li>
          <li class="breadcrumb-item active" aria-current="page"><b><a [routerLink]="['/mascota', id ,'consultas']"><i class="fa fa-edit"></i>&nbsp;Historia</a></b></li>
      </ol>
  </nav>

  <div class="col-md-2 offset-md-5 col-sm-2 offset-sm-5" *ngIf="cargando">
      <div class="lds-css ng-scope" style="width: 50px; height: 50px; margin-left:20px">
          <div class="lds-blocks" style="width:100%;height:100%">
              <div style="left:30px;top:30px;animation-delay:0s"></div>
              <div style="left:80px;top:30px;animation-delay:0.125s"></div>
              <div style="left:130px;top:30px;animation-delay:0.25s"></div>
              <div style="left:30px;top:80px;animation-delay:0.875s"></div>
              <div style="left:130px;top:80px;animation-delay:0.375s"></div>
              <div style="left:30px;top:130px;animation-delay:0.75s"></div>
              <div style="left:80px;top:130px;animation-delay:0.625s"></div>
              <div style="left:130px;top:130px;animation-delay:0.5s"></div>
          </div>
      </div>
  </div>

  <section class="invoice">
      <div style="float: right;">
          <button class="btn btn-danger" [routerLink]="['/mascota', id]">Regresar</button>
      </div>
      <!-- title row -->
      <div class="row">
          <div class="col-xs-12">
              <h2 class="page-header">
                  &nbsp; &nbsp;
                  <i class="fa fa-paw"></i> {{ mascota.nombre }}
                  <!-- <small class="pull-right"> {{mascota.fecha_creacion}}</small> -->
              </h2>
          </div>
          <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3> {{totalconsulta}} </h3>
                    <p class="small-box-footer">Consultas</p>
                </div>
                <div class="icon">
                    <i class="fa fa-heart"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of detalles; let n = index">
                        <td>{{ n + 1 }}</td>
                        <td>{{ detalle.fecha | date:"dd/MM/yy" }}</td>
                        <td>{{ detalle.descripcion | slice:0:90 }} ...</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" title="Ver Detalle" [routerLink]="['/mascota', id, 'consultas', 'detalle', detalle.id]"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-danger" title="Eliminar Detalle" (click)="eliminarDetalle(detalle.id)" [disabled]="eliminandodetalle == detalle.id" >
                                    <i class="fa fa-trash" style="margin-left:1px; margin-right:1px"></i>
                                    <i class="fa fa-refresh fa-spin ml-1" *ngIf="eliminandodetalle == detalle.id"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <!-- <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-print"></i> Imprimir Historia
                    </button>
                </div>
            </div>
      </div> -->
  </section>
</div>
