<div class="animated fadeIn">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']"><i class="fa fa-home"></i>&nbsp;Inicio</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/consultas']"><i class="fa fa-heart"></i>&nbsp;Consultas</a></li>
          <li class="breadcrumb-item active" aria-current="page"><b><a [routerLink]="['/consultas/nueva']"><i class="fa fa-plus"></i>&nbsp;Nueva</a></b></li>
      </ol>
  </nav>
  <div class="row">
      <div class="col-md-12">
          <div class="box box-primary  mb-3">
              <div class="box-header with-border">
                  <i class="fa fa-table"></i>Consultas Totales
                  <div style="float: right;">
                    <button class="btn btn-danger btn-sm " [routerLink]="[ '/consultas'] " title="Ver Consultas ">Regresar</button>
                  </div>
              </div>
              <div class="box-body">
                <div class="container">
                  <form #consultaForm="ngForm" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-row">
                                <label for="fecha">Fecha</label>
                                <input type="date" id="fecha" name="fecha" [min]="fecha" class="form-control" (change)="getConsultasFecha()" [(ngModel)]="consulta.fecha" required>
                            
                                <small *ngIf="buscandoConsultas"><i class="fa fa-refresh fa-spin"></i>&nbsp;Comprobando disponibilidad...</small>
                                <small *ngIf="limiteConsultas" style="color:red"><i class="fa fa-times-circle"></i>&nbsp;Fecha <b>no disponible</b>...</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-row">
                                <label for="hora">Hora</label>
                                <input type="time" id="hora" name="hora" class="form-control" [(ngModel)]="consulta.hora" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-row">
                                <label for="descripcion">Descripción: </label>
                                <textarea name="descripcion" id="descripcion" name="descripcion" class="form-control" cols="30" rows="5" [(ngModel)]="consulta.descripcion" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-row">
                                <label for="mascota">Mascota</label>
                                <select class="form-control" id="mascota" name="mascota" [(ngModel)]="consulta.mascota" required>
                                    <option [value]="mascota.id" *ngFor="let mascota of mascotas">{{ mascota.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-row">
                                <label for="medico">Medico</label>
                                <select class="form-control" id="medico" name="medico" [(ngModel)]="consulta.medico" required>
                                    <option [value]="medico.id" *ngFor="let medico of medicos">{{ medico.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" (click)="addConsulta(consultaForm)" data-dismiss="modal" [disabled]="(!consultaForm.valid)&&(guardando)&&(limiteConsultas)">Agregar Detalle&nbsp;<i *ngIf="cargando" class="fa fa-refresh fa-spin"></i></button>
                    </div>
                  </form>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-5" *ngIf="guardando">
                        <div class="lds-css ng-scope " style="width: 50px; height: 50px; margin-left:35px">
                            <div class="lds-blocks " style="width:100%;height:100% ">
                                <div style="left:30px;top:30px;animation-delay:0s "></div>
                                <div style="left:80px;top:30px;animation-delay:0.125s "></div>
                                <div style="left:130px;top:30px;animation-delay:0.25s "></div>
                                <div style="left:30px;top:80px;animation-delay:0.875s "></div>
                                <div style="left:130px;top:80px;animation-delay:0.375s "></div>
                                <div style="left:30px;top:130px;animation-delay:0.75s "></div>
                                <div style="left:80px;top:130px;animation-delay:0.625s "></div>
                                <div style="left:130px;top:130px;animation-delay:0.5s "></div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>